<div class="page-container">

  <!-- Encabezado -->
  <mat-card class="header-card">

    <mat-card-header>
      <mat-card-title>
        Administración de Clientes
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <button
        mat-flat-button
        color="primary"
        (click)="nuevo()">

        <mat-icon>add</mat-icon>
        Nuevo cliente

      </button>
    </mat-card-content>

  </mat-card>


  <!-- Tabla -->
  <mat-card class="table-card">

    <mat-card-content>

      <div class="table-container">

        <table
          mat-table
          [dataSource]="clientes"
          class="clientes-table">

          <!-- ID -->
          <ng-container matColumnDef="ClienteId">

            <th mat-header-cell *matHeaderCellDef>
              ID
            </th>

            <td mat-cell *matCellDef="let element">
              {{ element.clienteId }}
            </td>

          </ng-container>


          <!-- Nombre -->
          <ng-container matColumnDef="Nombre">

            <th mat-header-cell *matHeaderCellDef>
              Nombre
            </th>

            <td mat-cell *matCellDef="let element">
              {{ element.nombreCompleto }}
            </td>

          </ng-container>


          <!-- Correo -->
          <ng-container matColumnDef="Correo">

            <th mat-header-cell *matHeaderCellDef>
              Correo electrónico
            </th>

            <td mat-cell *matCellDef="let element">
              {{ element.correoElectronico }}
            </td>

          </ng-container>


          <!-- Teléfono -->
          <ng-container matColumnDef="Telefono">

            <th mat-header-cell *matHeaderCellDef>
              Teléfono
            </th>

            <td mat-cell *matCellDef="let element">
              {{ element.telefono }}
            </td>

          </ng-container>


          <!-- Acciones -->
          <ng-container matColumnDef="Accion">

            <th mat-header-cell *matHeaderCellDef>
              Acciones
            </th>

            <td mat-cell *matCellDef="let element">

              <button
                mat-icon-button
                color="primary"
                matTooltip="Editar"
                (click)="editar(element)">

                <mat-icon>edit</mat-icon>

              </button>

              <button
                mat-icon-button
                color="warn"
                matTooltip="Eliminar"
                (click)="eliminar(element)">

                <mat-icon>delete</mat-icon>

              </button>

            </td>

          </ng-container>


          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns">
          </tr>

          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns;">
          </tr>

        </table>

      </div>

    </mat-card-content>

  </mat-card>

</div>